.card-text h4 {
    padding-top: 1rem;
}

.box-container {
    width: 100%;
    height: 300px;
}
.box-container img {
    height: 100%;
}

.count-item {
    display: flex;
    justify-content:  center;
    align-items: center;
}
.count-item p {
    padding: 0.5rem;
    margin-top: 1rem;
}